@model IEnumerable<SEPAMIAR_SGC.Models.programa_clientes>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="card">
		@Html.ActionLink("Asignar Programa", "Create", null, new { @data_role = "modal", @data_target = "#search-in-prospectos", @class = "btn btn-default btn-small pull-right" })

		<h3 class="title">
			<u>Programas por Cliente</u>
		</h3>

		<table class="table">
			<tr>
				<th width="10%" class="text-left">
					@Html.DisplayNameFor(model => model.cliente.codigo)
				</th>
				<th width="15%" class="text-left">
					@Html.DisplayNameFor(model => model.cliente.nombres)
				</th>
				<th width="18%" class="text-left">
					@Html.DisplayNameFor(model => model.cliente.apellidos)
				</th>
				<th width="17%" class="text-left">
					@Html.DisplayNameFor(model => model.programa.nombre)
				</th>
				<th width="15%" class="text-left">
					@Html.DisplayNameFor(model => model.fecha_inicio)
				</th>
				<th width="15%" class="text-left">
					@Html.DisplayNameFor(model => model.fecha_fin)
				</th>
				<th width="10%" class="text-left">
					Acciones
				</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr class="@(@item.deleted_at != null ? "deleted" : "")">
					<td>
						@Html.DisplayFor(modelItem => item.cliente.codigo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.cliente.nombres)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.cliente.apellidos)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.programa.nombre)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.fecha_inicio)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.fecha_fin)
					</td>
					<td class="td-actions">
						<a href="@Url.Action("Edit", "ProgramaClientes", new { id = item.id })">
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</a>

						<a href="@Url.Action("Details", "ProgramaClientes", new { id = item.id })">
							<i class="fa fa-info" aria-hidden="true"></i>
						</a>

						@if (item.deleted_at == null)
						{
							<a href="@Url.Action("Delete", "ProgramaClientes", new { id = item.id })">
								<i class="fa fa-trash" aria-hidden="true"></i>
							</a>
						}
						else
						{
							<a href="@Url.Action("Restore", "ProgramaClientes", new { id = item.id })">
								<i class="fa fa-undo" aria-hidden="true"></i>
							</a>
						}
					</td>
				</tr>
			}
		</table>
	</div>
</div>

@section modal
{
	<div id="search-in-prospectos" class="overlay">
		<div class="model">
			@using (Html.BeginForm("SearchClient", "Clientes"))
			{
				<h3 class="title">
					<u>Buscar cliente</u>
				</h3>

				<input type="text" name="Value" class="form-control mar-bot-15" placeholder="Ingrese código del cliente" />

				<div class="text-right">
					<button type="submit" class="btn btn-default btn-small">Buscar cliente</button>
					<button type="button" class="btn btn-default btn-small btn-cancel">Cancelar</button>
				</div>
			}
		</div>
	</div>
}