@model SEPAMIAR_SGC.Models.locales

@{
	ViewBag.Title = "Eliminar";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="card" style="max-height: 500px; overflow: auto">
		@Html.ActionLink("Atrás", "Index", null, new { @class = "btn btn-small btn-default pull-right mar-top-10" })

		<h3 class="title mar-bot-30"><u>Eliminar Local</u></h3>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.nombre)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.nombre)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.distrito)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.distrito)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.created_at)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.created_at)
			</div>
		</div>

		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

			<div class="text-center">
				<input type="submit" value="Eliminar" class="btn btn-small btn-default mar-rig-10" />
				@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-small btn-default" })
			</div>
		}
	</div>
</div>