@model SEPAMIAR_SGC.Models.horarios

@{
	ViewBag.Title = "Detalles";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="card" style="max-height: 500px; overflow: auto">
		@Html.ActionLink("Atrás", "Index", null, new { @class = "btn btn-small btn-default pull-right mar-top-10" })

		<h3 class="title mar-bot-30"><u>Detalles del Horario</u></h3>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.programa.nombre)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.programa.nombre)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.sala.nombre)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.sala.nombre)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.lunes)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.lunes)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.martes)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.martes)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.miercoles)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.miercoles)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.jueves)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.jueves)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.viernes)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.viernes)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.sabado)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.sabado)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.domingo)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.domingo)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.hora)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.hora)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.created_at)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.created_at)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.updated_at)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.updated_at)
			</div>
		</div>

		@if (Model.deleted_at != null)
		{
			<div class="row mar-bot-15">
				<div class="col-3">
					@Html.DisplayNameFor(model => model.deleted_at)
				</div>

				<div class="col-6">
					@Html.DisplayFor(model => model.deleted_at)
				</div>
			</div>
		}

		<div class="row mar-top-30">
			<div class="col-3"></div>

			<div class="col-6">
				@Html.ActionLink("Editar Horario", "Edit", new { id = Model.id }, new { @class = "btn btn-default mar-rig-10" })
				@Html.ActionLink("Atrás", "Index", null, new { @class = "btn btn-default mar-rig-10" })
			</div>
		</div>
	</div>
</div>
