@model SEPAMIAR_SGC.Models.venta_usuarios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>venta_usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cliente.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.local.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.local.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vendedor_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vendedor_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad_semanas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad_semanas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad_dias_congelamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad_dias_congelamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.solicitud_permiso_congelamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solicitud_permiso_congelamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_ingreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_ingreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.campana_marketing_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.campana_marketing_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero_boleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_boleta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.atendido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.atendido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
