@model SEPAMIAR_SGC.Models.citas

@{
	ViewBag.Title = "Reprogramar Cita Nutricional";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="card">
		@Html.ActionLink("Atrás", "Index", null, new { @class = "btn btn-small btn-default pull-right mar-top-10" })

		<h3 class="title mar-bot-30"><u>Reprogramar Cita</u></h3>

		@using (Html.BeginForm("Reschedule", "Citas", FormMethod.Post, new { @enctype = "multipart/form-data" }))
		{
			@Html.AntiForgeryToken()


			@Html.HiddenFor(m => m.id)

			<div class="row mar-bot-15 mar-bot-15">
				<div class="col-3">
					@Html.DisplayNameFor(model => model.clientes.codigo)
				</div>

				<div class="col-6">
					@Html.DisplayFor(model => model.clientes.codigo)
				</div>
			</div>

			<div class="row mar-bot-15 mar-bot-15">
				<div class="col-3">
					@Html.DisplayNameFor(model => model.clientes.nombres)
				</div>

				<div class="col-4">
					@Html.DisplayFor(model => model.clientes.nombres)
					@Html.DisplayFor(model => model.clientes.apellidos)
				</div>
			</div>

			<div class="row mar-bot-15 mar-bot-15">
				<div class="col-3">
					Nutricionista
				</div>

				<div class="col-4">
					@Html.DisplayFor(model => model.nutricionistas.usuarios.nombres)
					@Html.DisplayFor(model => model.nutricionistas.usuarios.apellidos)
				</div>
			</div>

			<div class="row mar-bot-15 mar-bot-15">
				<div class="col-3">
					Fecha
				</div>

				<div class="col-4">
					<input type="text" name="fecha" value="@ViewBag.fecha" class="form-control search mar-0 datepicker" />
				</div>
			</div>

			<div class="row mar-bot-15 mar-bot-15">
				<div class="col-3">
					Hora
				</div>

				<div class="col-4">
					@Html.EditorFor(model => model.hora, new { htmlAttributes = new { @class = "form-control search mar-0 timepicker" } })
				</div>
			</div>

			<div class="row mar-bot-15">
				<div class="col-3">
					Motivo
				</div>

				<div class="col-4">
					<textarea name="motivo_reprogramacion" class="form-control search mar-0"></textarea>
				</div>
			</div>

			<div class="text-center mar-bot-15">
				<input type="submit" value="Reprogramar" class="btn btn-default" style="z-index:0;" />
			</div>
		}
	</div>
</div>

