@model SEPAMIAR_SGC.Models.usuario_permisos

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card" style="max-height:500px; overflow:auto">
        @Html.ActionLink("Atrás", "Index", new { v=Model.usuario_id}, new { @class = "btn btn-small btn-default pull-right mar-top-10" })

		<h3 class="title mar-bot-30"><u>Detalles del Usuario</u></h3>
		
		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.permisos.nombre)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.permisos.nombre)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.usuarios.codigo)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.usuarios.codigo)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.created_at)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.created_at)
			</div>
		</div>

		<div class="row mar-bot-15">
			<div class="col-3">
				@Html.DisplayNameFor(model => model.updated_at)
			</div>

			<div class="col-6">
				@Html.DisplayFor(model => model.updated_at)
			</div>
		</div>

    </div>
</div>
