@model SEPAMIAR_SGC.Models.prospectos

@{
	ViewBag.Title = "Crear";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
	<div class="card" style="max-height: 500px; overflow: auto">
		@Html.ActionLink("Atrás", "Index", null, new { @class = "btn btn-small btn-default pull-right mar-top-10" })

		<h3 class="title mar-bot-30"><u>Registrar Prospecto</u></h3>

		@using (Html.BeginForm("Create", "Prospectos", FormMethod.Post, new { @enctype = "multipart/form-data" }))
		{
			@Html.AntiForgeryToken()

			<div>
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })

				<div class="row mar-bot-15">
					<div class="col-3">
						@Html.LabelFor(model => model.nombres)
					</div>
					<div class="col-6">
						@Html.EditorFor(model => model.nombres, new { htmlAttributes = new { @class = "form-control search mar-0" } })
						@Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="row mar-bot-15">
					<div class="col-3">
						@Html.LabelFor(model => model.apellidos)
					</div>
					<div class="col-6">
						@Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control search mar-0" } })
						@Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="row mar-bot-15">
					<div class="col-3">
						@Html.LabelFor(model => model.genero)
					</div>
					<div class="col-6">
						@Html.EnumDropDownListFor(model => model.genero, htmlAttributes: new { @class = "form-control search mar-0" })
						@Html.ValidationMessageFor(model => model.genero, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="row mar-bot-15">
					<div class="col-3">
						@Html.LabelFor(model => model.fecha_nacimiento)
					</div>
					<div class="col-6">
						@Html.EditorFor(model => model.fecha_nacimiento, new { htmlAttributes = new { @class = "form-control search mar-0 datepicker" } })
						@Html.ValidationMessageFor(model => model.fecha_nacimiento, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="row mar-bot-15">
					<div class="col-3">
						@Html.LabelFor(model => model.documento_tipo)
					</div>
					<div class="col-6">
						@Html.EnumDropDownListFor(model => model.documento_tipo, htmlAttributes: new { @class = "form-control search mar-0" })
						@Html.ValidationMessageFor(model => model.documento_tipo, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="row mar-bot-15">
					<div class="col-3">
						@Html.LabelFor(model => model.documento_numero)
					</div>
					<div class="col-6">
						@Html.EditorFor(model => model.documento_numero, new { htmlAttributes = new { @class = "form-control search mar-0" } })
						@Html.ValidationMessageFor(model => model.documento_numero, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="row mar-bot-15">
					<div class="col-3">
						@Html.LabelFor(model => model.email_personal)
					</div>
					<div class="col-6">
						@Html.EditorFor(model => model.email_personal, new { htmlAttributes = new { @class = "form-control search mar-0" } })
						@Html.ValidationMessageFor(model => model.email_personal, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="row mar-bot-15">
					<div class="col-3">
						@Html.LabelFor(model => model.telefono)
					</div>
					<div class="col-6">
						@Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control search mar-0" } })
						@Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="row mar-bot-15">
					<div class="col-3">
						@Html.LabelFor(model => model.centros_laboral)
					</div>
					<div class="col-6">
						@Html.EditorFor(model => model.centros_laboral, new { htmlAttributes = new { @class = "form-control search mar-0" } })
						@Html.ValidationMessageFor(model => model.centros_laboral, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="row mar-bot-15">
					<div class="col-3">
						@Html.LabelFor(model => model.cargo_laboral)
					</div>
					<div class="col-6">
						@Html.EditorFor(model => model.cargo_laboral, new { htmlAttributes = new { @class = "form-control search mar-0" } })
						@Html.ValidationMessageFor(model => model.cargo_laboral, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="row mar-bot-15">
					<div class="col-3">
						@Html.LabelFor(model => model.email_empresa)
					</div>
					<div class="col-6">
						@Html.EditorFor(model => model.email_empresa, new { htmlAttributes = new { @class = "form-control search mar-0" } })
						@Html.ValidationMessageFor(model => model.email_empresa, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="text-center mar-bot-15">
					<button type="submit" class="btn btn-default">Registrar Cliente</button>
				</div>
			</div>
		}
	</div>
</div>
