@model IEnumerable<SEPAMIAR_SGC.Models.prospectos>

@{
	ViewBag.Title = "Prospectos";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.DisplayNone = "display: none;";
	foreach (SEPAMIAR_SGC.Models.permisos p in ViewBag.Permisos)
	{
		if (p.codigo_interno == "ppts_create")
		{
			ViewBag.DisplayNone = "";
		}
	}
}

<div class="container">
	<div class="card">
		@Html.ActionLink("Registrar Prospecto", "Create", null, new { @class = "btn btn-small btn-default pull-right mar-top-10", style = ViewBag.DisplayNone })

		<label class="switch pull-right mar-rig-10  mar-top-10">
			<input type="checkbox" name="deleteds" id="show-deleted" value="1" />
			<span class="slider round"></span>
		</label>

		<div class="text-normal pull-right mar-rig-5 mar-top-10">Ver eliminados</div>

		<h3 class="title mar-bot-30"><u>Prospectos</u></h3>

		<table class="table">
			<tr>
				<th width="20%" class="text-left">
					@Html.DisplayNameFor(model => model.nombres)
				</th>
				<th width="20%" class="text-left">
					@Html.DisplayNameFor(model => model.apellidos)
				</th>
				<th width="20%" class="text-left">
					@Html.DisplayNameFor(model => model.email_personal)
				</th>
				<th width="15%" class="text-left">
					@Html.DisplayNameFor(model => model.telefono)
				</th>
				<th width="15%" class="text-left">
					@Html.DisplayNameFor(model => model.created_at)
				</th>
				<th width="10%">
					Acciones
				</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.nombres)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.apellidos)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.email_personal)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.telefono)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.created_at)
					</td>
					<td class="td-actions">
						@foreach (SEPAMIAR_SGC.Models.permisos p in ViewBag.Permisos)
						{
							switch (p.codigo_interno)
							{
								case "ppts_update":
									<a href="@Url.Action("Edit", "Prospectos", new { id = item.id })">
										<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
									</a>
									break;
								case "ppts_details":
									<a href="@Url.Action("Details", "Prospectos", new { id = item.id })">
										<i class="fa fa-info" aria-hidden="true"></i>
									</a>
									break;
								case "ppts_delete":
									if (item.deleted_at == null)
									{
										<a href="@Url.Action("Delete", "Prospectos", new { id = item.id })">
											<i class="fa fa-trash" aria-hidden="true"></i>
										</a>
									}
									else
									{
										<a href="@Url.Action("Restore", "Prospectos", new { id = item.id })">
											<i class="fa fa-undo" aria-hidden="true"></i>
										</a>
									}
									break;
								default:
									break;
							}
						}
					</td>

				</tr>
			}

		</table>
	</div>
</div>
