@model SEPAMIAR_SGC.Models.nutricionistas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>nutricionistas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usuarios.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarios.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jefe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jefe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.usuario_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
